header{
    background-image: url("../content/about-content/bg.jpg");
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter: grayscale(80%);
	transition: 0.3s ease-in-out;
}

header:hover{
    filter: grayscale(10%);
}

header #header-info{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100vw;
    padding: 10px;
}

#fist-section{
    background-image: url(../content/about-content/section-1/section1.png);
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
}

#fist-section article{
    background-image: url(../content/about-content/section-1/article1.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 90vh;
    margin: 5vh 20vw;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
    overflow: auto;
}

#fist-section article:hover{
    filter: grayscale(80%);
}

#first-section-first-paragraph{
    color: #1d1d1d;
}

.main-headings{
    position: sticky;
    top: 0;
    padding: 0.9em 1em;
    margin: 0;
    text-align: center;
    z-index: 1;
}

#first-section-heading{
    color: white;
    background-color: #1d1d1d;
}

#second-section-heading{
    color: white;
    background-color: #511c48;
}


#second-section{
    background-image: url(../content/about-content/section-2/section2.png);
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#second-section img{
    width: 8vw;
    filter: grayscale(80%);
    transition: 0.3s ease-in-out;
}

#second-section img:hover{
    width: 10vw;
    filter: grayscale(0);
}

.second-section-images-div{
    width: 80vw;
    text-align: center;
    padding: 5vh 10vw;
} 

.first-section-content-headings{
    text-align: center;
    color: #b92b27;
    font-size: 30px;
}

.first-section-content-paragraphs{
    color: white;
    text-align: center;
    margin: 0 10vw;
    font-size: x-large;
}