header{
    background-image: url("../content/news-content/coming-soon.jpeg");
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: .3s ease-in-out;
}